.card-container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  background-color: rgb(81, 81, 83);
  border-radius: 0.3125rem;
  padding: 0.5rem;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
  width: 10rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.card-container > p {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 0 .4rem;
}
.btnsItem {
  display: flex;
  gap: 0.3rem;
}
.copy {
  height: 1.5625rem;
  width: 1.5625rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconCopy{
  height: 1.8rem;
  width: 1.8rem;
}
.cancel {
  height: 1.5625rem;
  width: 1.5625rem;
  font-weight: 500;
  background-color: #db5865;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.btnTrash {
  height: 1.5625rem;
  width: 1.5625rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconTrash {
  height: 2.2rem;
  width: 2.2rem;
}

