.containerStart {
  background-color: rgb(216, 212, 212);
  border: 0.125rem solid #ffffff8c;
  border-radius: 8px;
  transition: all 0.3s linear;
  height: auto;
  width: 100%;
}
.titleItems {
  border-radius: 8px 8px 0 0;
  background-color: #8a775c;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 0;
}
.cardsStart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-bottom: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 0 0 8px 8px;
}
@media screen and (max-width: 768px) {
  .titleItems {
    font-size: 22px;
    padding: .5rem 0 ;
  }
  .cardsStart {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .containerStart{
    width: 340px;
  }
  .cardsStart {
    grid-template-columns: 1fr;
  }
}
