.containerItems {
  
}
.itemsSchedule {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.daysSchedule {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .daysSchedule {
    justify-content: center;
  }
}
