.contenedorHome {
  width: 100vw;
  height: 100vh;
  padding: 1.875rem 0 0 ;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.aTitulo {
  text-decoration-line: none;
}
.h1Home {
  font-size: 3.2em;
  color: gray;
}
.h1Home:hover {
  filter: drop-shadow(0 0 2em #fff);
}
.logo {
  height: 25rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}