.topnav {
  background-color: #b1afaf;
  overflow: hidden;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
.topnav > a {
  height: 60px;
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 10px;
}
.topnav a:hover {
  background-color: #c09a33;
  color: black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
