.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}
.topnav > a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}