.topnav {
  background-color: #b1afaf;
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}
.topnav > a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 10px;
}
.topnav a:hover {
  background-color: #58c6f1;
  color: black;
}