.topnav {
  background-color: #c9c9c9;
  overflow: hidden;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
.topnav > a {
  height: 40px;
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 10px;
}
.topnav a:hover {
  /* background-color: white; */
  color: white;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); */
}
.nav-link-user {
  text-decoration: none;
  padding: 5px 8px 5px 8px;
  background-color: #ffffff;
  color: black;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link-user:hover {
  background-color: black;
  color: black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.linkNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
