.search {
  text-align: center;
  background-color: #57a1dd;
  height: 100vh;
  color: rgb(36, 36, 36);
  padding-top: 3rem;
}
.title {
  padding: 2.5rem 1.25rem 1.25rem;
  margin: 0;
  color: rgb(20, 110, 20)
}
.searcher {
  max-width: 37.5rem;
  margin: 0 auto;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.5);
  border-radius: .625rem;
}
.listThemes {
  background-color: rgb(151, 150, 150);
}
.inputText {
  max-width: 37.5rem;
}
.textoSearcher {
  max-width: 37.5rem;
  margin: auto;
}
.toWeather, .toMovie {
  color: rgb(202, 40, 40);
}
.iconWeather1 {
  max-width: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.iconWeather2 {
  max-width: 5rem;
  margin-top: 1rem;
}
.iconMovie1 {
  max-width: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.iconMovie2 {
  max-width: 5rem;
  margin-top: 1rem;
}
.infoWeather {
  padding-top: 1.5rem;
}
.movieList {
  margin: auto;
  padding: 0 1.25rem;
  background-color: #57a1dd;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem;
}
.movieCard {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: .25rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.5);
}
.movieCard img {
  width: 100%;
  height: auto;
}
@media screen and (max-width:48rem) {
  .movieList {
    grid-template-columns: repeat(2, minmax(15.625rem, 1fr));
  }
}
@media screen and (max-width:33.75rem) {
  .movieList {
    grid-template-columns: repeat(1, minmax(15.625rem, 1fr));
  }
}