.tasksPage {
  height: 81vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(230, 214, 192);
}
.tasks {
  min-width: 300px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 4rem 1fr;
  justify-items: center;
  gap: 1.25rem;
  color: black;
  border-radius: 10px;
}
h1 {
  margin: 1rem 0 0.5rem 0;
  font-size: 3rem;
  font-weight: 800;
}
.newListButton {
  background-color: #000000;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.newListButton:hover {
  background-color: #000000b4;
}
.tasksGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.tasksCard {
  width: auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 20px;
  background-color: #a07d5b7c;
}
.nameDeleteList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listName {
  font-weight: bold;
}
.nameDeleteList h2 {
  height: 30px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.iconoEdit {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.iconoTrash {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.tasksList {
  margin: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputTask {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.labelTask {
  height: 40px;
  margin-left: 10px;
  padding: 4px 0;
  font-size: 24px;
  cursor: pointer;
}
.tasksListCompleted {
  margin: 10px;
  color: rgb(185, 185, 185);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputTaskCompleted {
  height: 30px;
  width: 30px;
  cursor: pointer;
  accent-color: rgba(87, 87, 87, 0.425);
}
.labelTaskCompleted {
  height: 40px;
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
}
.deleteTask {
  margin-left: 15px;
  background-color: #db5865;
  color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.taskList {
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
}
.newList {
  margin: 60px auto 20px auto;
  height: min-content;
  width: 380px;
  background-color: rgb(218, 216, 208);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.nameList {
  height: 40px;
  width: 290px;
  font-size: 24px;
  margin: 30px 20px 0 20px;
  padding: 6px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.newTasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newTasksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.nameTask {
  height: 40px;
  width: 290px;
  font-size: 24px;
  margin: 10px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.addTask {
  height: 60px;
  width: 60px;
  font-size: 30px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  background-color: #000000;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.addTask:hover {
  background-color: #000000a1;
}
.saveCancel {
  margin-bottom: 10px;
}
.saveTask {
  width: 130px;
  height: 50px;
  font-size: 25px;
  margin: 15px;
  border-radius: 8px;
  background-color: #35959c;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
.saveTask:hover {
  background-color: #35959cc0;
  border: none;
}
.cancelTask {
  width: 130px;
  height: 50px;
  font-size: 25px;
  margin: 15px;
  border-radius: 8px;
  background-color: #db5865;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}
.cancelTask:hover {
  background-color: #db5865bd;
  border: none;
}
@media screen and (max-width: 62rem) {
  .tasksPage {
    height: 800px;
  }
  .taskList{
    height: auto;
  }
  .newList {
    width: 340px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 37.5rem) {
  .tasksPage {
    height: 1200px;
  }
}