.search {
  text-align: center;
  background-color: #bda683;
  width: 100%;
  height: 81vh;
  color: rgb(36, 36, 36);
  padding-top: 3rem;
}
.searchMovie {
  text-align: center;
  background-color: #bda683;
  width: 100%;
  color: rgb(36, 36, 36);
  padding-top: 3rem;
}
.container-search {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.dropdown {
  display: inline-block;
  margin-bottom: 20px;
}
.dropbtn {
  width: 203px;
  height: 50px;
  background-color: #776346;
  color: white;
  padding: 10px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.dropbtn:hover {
  border-radius: 8px 8px 0 0;
}
.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  width: 203px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
  position: absolute;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
.dropdown:hover .dropbtn {
  background-color: #77634685;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #dbd8d8;
}
.searcher {
  margin-bottom: 20px;
}
.btnSearch {
  height: 50px;
  width: 130px;
  background-color: #776346;
  color: white;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.btnSearch:hover {
  background-color: #776346b0;
}
.inputSearch {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 0 8px 8px 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 22px;
  padding-left: 10px;
}
.textoSearcher {
  max-width: 37.5rem;
  margin: auto;
}
.toWeather,
.toMovie {
  color: #000000;
  text-decoration: none;
  font-weight: 550;
}
.iconWeather1 {
  max-width: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.iconWeather2 {
  max-width: 5rem;
  margin-top: 1rem;
}
.iconMovie1 {
  max-width: 5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.iconMovie2 {
  max-width: 5rem;
  margin-top: 1rem;
}
.infoWeather {
  padding-top: 1.5rem;
}
.movieList {
  margin: auto;
  padding: 0 1.25rem;
  background-color: #bda683;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem;
}
.movieCard {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
.movieCard img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 62rem) {
  .container-search {
    flex-direction: column;
  }
  .dropdown {
    margin: 0 auto 20px auto;
  }
  .textoSearcher {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 420px) {
  .container-search{
    align-items: center;
  }
  .dropdown{
    display: contents;
  }
  .searcher{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .inputSearch{
    border-radius: 8px;
  }
  .btnSearch{
    border-radius: 8px;
    margin-top: 20px;
  }
}
