.cardList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  background-color: rgb(81, 81, 83);
  border-radius: 0.3125rem;
  padding: 0.5rem;
  width: 90%;
  box-shadow: 0 0 1.25rem .3125rem rgba(3, 3, 3, 0.4);
}
.cardList > p {
  font-weight: bold;
  font-size: 1rem;
  cursor: not-allowed;
}
.buttonsList {
  display: flex;
  gap: .5rem;
}
.edit {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 3rem;
  height: 1.6rem;
  background-color: rgb(45, 158, 45);
  padding: .0625rem;
  border: 0;
  border-radius: .3125rem;
  box-shadow: 0 0 .3125rem ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 3.3rem;
  height: 1.6rem;
  background-color: rgb(230, 21, 21);
  padding: .0625rem;
  border: 0;
  border-radius: .3125rem;
  box-shadow: 0 0 .3125rem ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
