.layout-cards {
  background-color: rgb(216, 212, 212);
  border: 0.125rem solid #ffffff8c;
  border-radius: 5px;
  transition: all 0.3s linear;
  height: auto;
  min-height: 3rem;
  width: 12.5rem;
  padding-bottom: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.layout-cards > p {
  border-radius: 0.3125rem;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.1rem;
}
.layout-dragging {
  background-color: rgb(216, 212, 212);
  border: 0.125rem dashed #0202028c;
}
