.start-employees {
  display: flex;
  flex-direction: column;
  margin: 25px 0 20px;
  width: 100%;
  padding: 0 2rem;
}
.titleFont {
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 0
}
.btnNewEmployee {
  width: 9rem;
  height: 2.875rem;
  background-color: #35959c;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 5px;
}
.btnNewEmployee:hover {
  background-color: #35959cb7;
}
.employeesSheduling {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .start-employees {
  }
  .btnNewEmployee {
    height: auto;
    padding: 5px;
  }
  .grid {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .start-employees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    gap: 10px;

  }
  .titleFont{
    font-size: 30px;
  }
  .btnNewEmployee {
    padding: 5px;
  }
}
