.titleSheduling {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.titleFont {
  text-shadow: 0 0 5px gray;
  margin-bottom: 1rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.employeesSheduling {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .grid {
    justify-content: center;
  }
}
