.titleSheduling {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.titleFont {
  color: black;
  margin-bottom: 1rem;
}
.start-employees {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 200px;
  margin: 30px;
}
.employeesSheduling {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .grid {
    justify-content: center;
  }
}
