.container-new-employee {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}
.containerEditEmployee {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}
.titleEdit {
  color: black;
  text-align: center;
  margin-top: 1.5625rem;
  margin-bottom: 1rem;
}
.cardNewEmployee {
  width: 21rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35959c;
  border-radius: 0.625rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  width: 15.625rem;
  height: 1.25rem;
  font-size: 24px;
  margin-top: 0.9375rem;
  margin-bottom: 1rem;
}
.inputText {
  width: 15.625rem;
  height: 2.5rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  background-color: rgb(243, 240, 240);
  border: solid 0.0625rem black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
}
.buttons {
  width: 15.625rem;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.saveButton {
  width: 5.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #4682b4;
  border: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-weight: 500;
}
.saveButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.cancelButton {
  width: 5.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #db5865;
  border: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-weight: 500;
}
