.titleEdit {
  color: rgb(204, 200, 200);
  text-align: center;
  margin-top: 1.5625rem;
  margin-bottom: 1rem;
}
.modal {
  width: 25rem;
  height: 13.125rem;
  background-color: gray;
  border-radius: 1.25rem;
  box-shadow: 0 0 .625rem .3125rem rgba(3, 3, 3, 0.2);
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 6.25rem;
  margin-left: 28rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  width: 15.625rem;
  height: 1.25rem;
  margin-top: .9375rem;
  margin-bottom: .3125rem;
  font-weight: 600;
}
.inputText {
  width: 15.625rem;
  height: 1.875rem;
  padding: .625rem;
  border-radius: .5rem;
  background-color: rgb(243, 240, 240);
  border: solid .0625rem black;
  box-shadow: 0 0 .3125rem ;
  font-size: 1.2rem;
}
.buttons {
  width: 15.625rem;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.saveButton {
  width: 4.375rem;
  height: 1.875rem;
  font-size: 1.125rem;
  border-radius: .5rem;
  background-color: rgb(181, 91, 255);
  border: 0;
  box-shadow: 0 0 .4375rem ;
  cursor: pointer;
  font-weight: 500;
}
.saveButton:disabled{
  cursor: not-allowed;
  opacity: 0.5;
  }
.cancelButton {
  width: 4.375rem;
  height: 1.875rem;
  font-size: 1.125rem;
  border-radius: .5rem;
  background-color: rgb(231, 38, 38);
  border: 0;
  box-shadow: 0 0 .4375rem ;
  cursor: pointer;
  font-weight: 500;
}