.employeesList {
  background-color: rgb(255, 255, 255);
  border: 0.125rem solid #ffffff8c;
  border-radius: 5px;
  transition: all 0.3s linear;
  height: auto;
  width: 500px;
  margin: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.titleList {
  width: 100%;
  border-radius: 0.3125rem;
  background-color: #35a583;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.employees {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .titleList{
    padding: .5rem 0;
  }
}
