.employeesList {
  background-color: rgb(216, 212, 212);
  border: 0.125rem solid #ffffff8c;
  border-radius: 5px;
  transition: all 0.3s linear;
  height: auto;
  width: 600px;
  margin: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.employeesList > p {
  width: 600px;
  border-radius: 0.3125rem;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.employees{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
