.carrito {
  max-width: 50rem;
  height: 74vh;
  margin: 1.875rem auto;
}
.containerCar {
  background-color: white;
  width: 22rem;
  height: 14rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tituloCarrito {
  text-align: center;
  color: rgb(88, 88, 88);
  margin-bottom: 1rem;
}
.linkCompras {
  font-size: 26px;
  font-weight: bold;
  color: black;
  margin: 6px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.sinCompras {
  color: rgb(0, 0, 0);
  text-align: center;
}
.btnStore {
  background-color: rgb(88, 88, 88);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 7px;
  width: 30%;
  font-size: 22px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}
.btnStore:hover {
  background-color: rgba(88, 88, 88, 0.705);
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.column {
  text-align: center;
}
.shadowButton {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.btnBuy {
  background-color: rgb(88, 88, 88);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 7px;
  width: 100%;
  font-size: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
