.list {
  background-color: rgb(216, 212, 212);
  border: 0.125rem solid #ffffff8c;
  border-radius: 5px;
  transition: all 0.3s linear;
  height: auto;
  width: 60%;
  margin: 2rem;
}
.list > p {
  border-radius: 0.3125rem;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.employees{
  display: flex;
  flex-direction: column;
  align-items: center;
}
